
body {
    min-height: 665px;
}

.rightColumn {
    position: fixed;
    right: 280px;
    width: 175px;
}

#dates {
    top: 83px;
}

#submitSet {
    top: 223px;
}

button.submitBtn {
    width: 170px;
}
